body {
    background-color: black;
    
}

* {
    cursor: none;
}

.minute {
    text-align: right;
}

.err {
    text-align: center;
    color: red;
    padding: 2em;
}

.myrow {
    height: 2.5vw;
}

.myimg {
    float: left;
    padding-right: 0.5em;
    margin-top: 0.2em;
    vertical-align: middle;
}

#station {
    font-size: 4.5vw;
    text-align: center;
}

#datum {
    font-size: 2vw;
    text-align: right;
    width: 100%;
    padding-right: 1em;
}

#content {
    color: coral;
    font-size: 2.7vw;
    padding: 0;
    width: 98%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color:cornflowerblue;
    text-align: right;
    padding: 0.5em;
  }